* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  color: wheat;
}

body {
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background: #191816;
  padding: 12px;
  
  text-align: left;
}

.image {
  position: absolute;
  top: 8px;
  left: 8px;
}

.title {
  align-items: flex-start;
}

h1 {
  display: inline;
  font-size: 26px;
}

.box-email {
  display: flex;
  flex-direction: column;
}

box-password {
  display: flex;
  flex-direction: column;
  margin-left: -15px;
}

#password {
  display: block;
}

input {
  width: 310px;
  height: 2.5rem;
  border: 2px solid orange;
  background-color: #191816;

  padding: 4px;
  border-radius: 8px;
}

.usuario {
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.res {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#lembrar {
  width: 15px;
  background: #191816;
}

a {
  margin-top: 12px;
}

button {
  width: 260px;
  height: 4rem;

  background-color: #FFC632;
  border: none;
  color: #191816;
  font-size: 22px;
  font-weight: bold;

  border-radius: 1rem;
}

@media (min-width: 400px) {
  .container {
    width: 35%;
  }

  .initial {
    height: 100vh;
    width: 65%;
  }
}